body {
  margin: 0;
  text-align: center;
  font-family: 'Tajawal', serif;
}

h1 {
  font-size: 562.5%;
  margin-top: 0px;
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
}
.pro {
  text-decoration: underline;
}

.topContainer {
  background-color: #EBD4D4;
  position: relative;
  padding-top: 100px;
}

.middleContainer {
}

.bottomContainer {
}

.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

/* div {
  background-color: #EBD4D4;
} */
/*
div {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
} */
/*
.topContainer {
  background-color: #EBD4D4;
  border-width: 10px;
  padding: 20px;
}

.middleContainer {
  background-color: red;
  border-width: 20px;
  margin-left: 260px;
}

.bottomContainer {
  background-color: blue;
  border-width: 10px;
  margin-left: 500px;
} */
